* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
}

.logo {
  height: 25px;
  margin-left: 102px;
}

.pesquisa {
  background-color: #fafafa;
  border: none;
  text-align: center;
  height: 30px;
  width: 250px;
  margin: 10px;
  margin-left: 15%;
  border: solid;
  border-width: 1px;
  border-color: #b2b2b2;
  border-radius: 3px;
}

.casa {
  height: 25px;
  width: 25px;
  margin-left: 180px;
}

.seta {
  height: 25px;
  width: 25px;
  margin-left: 15px;
}

.bussola {
  height: 25px;
  width: 25px;
  margin-left: 15px;
}

.coracao {
  height: 25px;
  width: 25px;
  margin-left: 15px;
}

.comente {
  height: 25px;
  width: 25px;
  margin-left: 15px;
}

.foto {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  margin-left: 15px;
}

.foto2 {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-left: 15px;
}

.save {
  height: 60px;
  width: 60px;
  margin-left: 410px;
  margin-bottom: -15px;
}

.corpo {
  display: flex;
  flex-direction: column;
}

.stories {
  display: flex;
  flex-direction: row;
  margin-top: 33px;
  margin-left: 208px;
  background-color: white;
  width: 610px;
  height: 120px;
}

.sugestoes {
  position: fixed;
  margin-top: 33px;
  margin-left: 850px;
  background-color:none;
  width: 290px;
  padding: 7px;
}

.publicacao1 {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  margin-left: 208px;
  width: 610px;
  background-color: white;
}

.cima {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.corinthians {
  height: 610px;
}

.timao {
  height: 25px;
  margin: 15px;
  border-radius: 50px;
  border-style: groove;
  border-color: #ff00ea;
  border-width: 2px;
}

.baixo {
  margin: 10px;
}

.texto {
  margin-left: 15px;
}

.comentario {
  height: 55px;
  width: 520px;
  border: none;
  padding-left: 10px;
}

.sugest {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  color: #979797;
}

.nome {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 6px;
}

.cabeca {
  display: flex;
  flex-direction: row;
}

.img {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  margin-top: 10px;
}

.aba_fim {
  display: flex;
  flex-direction: row;
}

.publicar {
  color: #b6e1fc;
  margin: 16px auto;
}
